# Flask framework
flask
flask-cors
python-dotenv
# OCR Extraction
pytesseract
opencv-python
pillow

# Data Processing
numpy
pandas
matplotlib

# Machine Learning (if used in deduction, audit risk, etc.)
scikit-learn

# NLP for Chatbot
transformers
torch
sentence-transformers
nltk

# Web Requests (if needed for external API calls)
requests
json
os
datetime
timedelta
